.carrusel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.carruselContainer {
  width: 640px;
  height: 360px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 10px #000000;
}

.carruselFrame {
  display: flex;
  transition: all 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
