.link {
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
