.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20%;
  background-color: var(--secondary-fondo);
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
}

.bold {
  font-weight: bold;
}

.titulos {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.titulos h2 {
  margin: 0px;
}

.correos a {
  color: var(--primary-texto);
  text-decoration: none;
  padding: 10px;
}

.correos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }

  footer {
    padding: 10px 5px;
  }
}
