section.habilidades {
  flex-direction: column;
}

div.NavBar {
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  top: 80px;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

button.nav {
  flex: 1 1;

  border: 0px;
  padding: 10px;

  cursor: pointer;
}

button.nav:hover {
  background-color: var(--main-secondary);
  color: var(--main-text);
}

img.img-estudiantes {
  display: block;
  max-width: 600px;
  min-width: 300px;
  width: 100%;
  margin: 10px auto;
  border-radius: 20px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.361);
}

.img-academica {
  max-width: 120px;
  width: 100%;
  margin: 0px 15px;
  padding: 15px;
}

#img-ucab,
#img-unexca {
  background-color: white;
  border-radius: 10px;
}

.div-academica {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.carrusel-deslizar {
  opacity: 1;
  transition: opacity 100ms linear;
}

.carrusel-deslizar.desplazando {
  opacity: 0;
}
