button.header {
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
  padding: 0;
  font: inherit;
  outline: inherit;
}

header {
  height: 80px;
  padding: 0px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  justify-content: space-around;

  background: var(--header-bg);
  color: var(--header-text);
}

svg {
  color: var(--header-text);
}
