.imgUCAB {
  max-width: 120%;
  width: 150px;

  background-color: white;

  padding: 15px;
  border-radius: 15px;
}

.imgUnity {
  max-width: 120%;
  width: 150px;
  padding: 15px;
}

.imgUnexca {
  max-width: 120%;
  width: 150px;

  background-color: white;

  padding: 15px;
  border-radius: 15px;
}

.seccionAcademica {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 768px) {
  .seccionAcademica {
    flex-direction: column;
    align-items: center;
  }
}
