.link {
  border: none;
  border-radius: 100px;

  background-color: var(--main-fondo);
  color: inherit;
  cursor: pointer;

  padding: 0px 15px;

  min-width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
}
