.texto {
  flex: 1 1 50%;
  width: 50%;
}

.h1 {
  font-size: 60px;
  margin: 0;
}

.h2 {
  font-size: 20px;
  margin: 0;
}

.h3 {
  font-size: 20px;
  margin: 0;
  font-weight: normal;
}

@media (max-width: 768px) {
  .texto {
    width: 100%;
    align-items: center;
  }
}
