@font-face {
  font-family: "Quicksand";
  src: url("./Fuentes/Quicksand-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("./Fuentes/Quicksand-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("./Fuentes/Quicksand-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("./Fuentes/Quicksand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 1.2rem;
  background: var(--main-fondo);
  color: var(--main-texto);
  transition: background-color 0.3s ease, color 0.3s ease;
}
body.light {
  --main-fondo: #ffffff; /* Fondo principal un beige muy claro y cálido */
  --main-texto: #3d2b1f; /* Texto principal un marrón oscuro para buen contraste */

  --secondary-fondo: #e6c9b3; /* Fondo secundario gris topo claro */
  --secondary-texto: #5e4a3f; /* Texto secundario marrón grisáceo */

  --complementary-fondo: #be7d6c; /* Color complementario un terracota suave */
}
body.dark {
  /*Fondos*/
  --main-fondo: #1d2935;
  --secondary-fondo: #3a4c63;
  --grandient-1: linear-gradient(
    30deg,
    var(--secondary-fondo),
    var(--main-fondo)
  );

  /*Textos*/
  --main-texto: #ffffff;
  --secondary-texto: #e0e0e0;

  /*Color complementario*/
  --complementary-fondo: #be7d6c;

  /*Bento*/
  --bento-bg: #2a3846;
}

* {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
}

h1,
h2 {
  margin: 0px;
  font-weight: bold;
  color: var(--secondary-fondo);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  width: fit-content;
  background-clip: text;
  text-align: left;
  width: 100%;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

p {
  text-align: justify;
}

svg {
  color: var(--main-text);
}

@media (max-width: 768px) {
  body {
    font-size: 1rem; /* Tamaño de fuente más pequeño en pantallas pequeñas */
  }

  p {
    padding: 0px 15px; /* Menos padding en pantallas pequeñas */
  }
}
