@font-face {
  font-family: "Quicksand";
  src: url("./Fuentes/Quicksand-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("./Fuentes/Quicksand-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("./Fuentes/Quicksand-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("./Fuentes/Quicksand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 1.2rem;
  background: var(--main-fondo);
  color: var(--main-texto);
}
body.light {
  --main-fondo: #ffffff; /* Fondo principal un beige muy claro y cálido */
  --main-texto: #3d2b1f; /* Texto principal un marrón oscuro para buen contraste */

  --secondary-fondo: #eae3da; /* Fondo secundario gris topo claro */
  --secondary-texto: #5e4a3f; /* Texto secundario marrón grisáceo */

  --accent-color: #d4a778; /* Color de acento (terracota suave) */
  --border-color: #c3b4a2; /* Color para bordes sutiles */

  --success-color: #6b9b5a; /* Verde para éxito */
  --error-color: #c25b5b; /* Rojo para error */
}
body.dark {
  /*Fondos*/
  --main-fondo: #1d2935;
  --secondary-fondo: #3a4c63;
  --grandient-1: linear-gradient(
    30deg,
    var(--secondary-fondo),
    var(--main-fondo)
  );

  /*Textos*/
  --main-texto: #ffffff;
  --secondary-texto: #e0e0e0;

  /*Color complementario*/
  --complementary-fondo: #be7d6c;
}

* {
  font-family: "Quicksand", sans-serif;
}

p {
  text-align: justify;
  padding: 0px 25px;
}

svg {
  color: var(--main-text);
}

@media (max-width: 768px) {
  body {
    font-size: 1rem; /* Tamaño de fuente más pequeño en pantallas pequeñas */
  }

  p {
    padding: 0px 15px; /* Menos padding en pantallas pequeñas */
  }

  svg {
    width: 24px; /* Iconos más pequeños en pantallas pequeñas */
    height: 24px;
  }
}
