.header {
  padding: 5px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: var(--secondary-fondo);
  color: var(--secondary-texto);

  position: sticky;
  top: 0px;
  z-index: 1000;
}

.buttons {
  display: flex;
  gap: 15px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .links {
    display: none;
  }

  .buttons {
    flex-wrap: wrap;
    justify-content: center;
  }
}
